.custom-cursor {
    position: fixed;
    pointer-events: none;
    z-index: 1; /* Ensure the cursor is above other elements */
  }
  
  .cursor-outline {
    width: 30px; /* Adjust the size of the outline */
    height: 30px; /* Adjust the size of the outline */
    background-color: transparent; /* Make it transparent */
    border: 2px solid rgba(7, 206, 251, 0.956); /* Color and opacity of the outline */
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%); /* Center the outline */
  }
  
  .cursor-dot {
    width: 5px;
    height: 5px;
    background-color: rgb(6, 185, 245);
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%); /* Center the dot */
  }
  